<mat-card>

  <div class="">
    <mat-card-title>{{ item.title }}</mat-card-title>
    <mat-card-content>{{ item.text }}</mat-card-content>
    <mat-card-content>Data:   {{ item.date | date }}</mat-card-content>
    <mat-card-content>Deadline: </mat-card-content>
  </div>

  <mat-card-actions>

      <button mat-fab color="warn"  (click)="onDelete.emit(item)">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-fab color="primary" (click)="onEdit.emit(item)">
        <mat-icon>edit</mat-icon>
      </button>

  </mat-card-actions>
</mat-card>
