mat-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

mat-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-card-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-card-actions {
  display: flex;
  flex-direction: column;

  button {
    margin-bottom: 1rem;

    &:last-child {
      margin: 0;
    }
  }

}
