mat-card {
  background: rgba(250, 250, 250, .5);
  max-width: 100%;
}

mat-card-title {
  color: #3f51b5;
}

mat-card-content {
  max-width: 100%;
  padding: 1rem;
  min-height: 400px;
  display: block;
  border-radius: 4px;
  overflow: hidden;
}

form {
  max-width: 500px;
  margin: 2rem auto;
}

input {
  margin-bottom: 1rem;
}

.btn-wrap {
  button {
    margin-right: 1rem;
  }

  &:last-child {
    margin: 0;
  }
}
