<mat-toolbar color="primary">
  <span>TODO-LIST</span>
</mat-toolbar>

<div class="container">

  <div class="row">

    <form [formGroup]="listFormGroup">

      <input
        class="todo-input form-control"
        matInput
        formControlName="title">

      <input
        class="todo-input form-control"
        matInput
        formControlName="text">

      <div class="btn-wrap">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="addTodo()"
          [disabled]="listFormGroup.invalid">
          ADD
        </button>

        <button
          mat-raised-button
          color="primary"
          (click)="openCalendar()"
          [disabled]="listFormGroup.invalid">
          DeadLine
        </button>
      </div>


    </form>

  </div>

  <div class="row">

    <mat-card class="col-lg-4">
      <mat-card-title>TODO</mat-card-title>
      <mat-card-content
        cdkDropList
        id="list-todo"
        [cdkDropListData]="todos$ | async"
        [cdkDropListConnectedTo]="['list-progress', 'list-completed']"
        (cdkDropListDropped)="drop($event)">

        <app-item
          *ngFor="let i of todos$ | async; trackBy:identify"
          [item]="i"
          (onDelete)="deleteTodo($event)"
          (onEdit)="editTodo($event)"
          [cdkDragData]="i"
          cdkDrag>
        </app-item>

      </mat-card-content>
    </mat-card>

    <mat-card class="col-lg-4">
      <mat-card-title>PROGRESS</mat-card-title>
      <mat-card-content
        cdkDropList
        id="list-progress"
        [cdkDropListData]="progress$ | async"
        [cdkDropListConnectedTo]="['list-todo', 'list-completed']"
        (cdkDropListDropped)="drop($event)">

        <app-item
          *ngFor="let i of progress$ | async; trackBy:identify"
          [item]="i"
          (onDelete)="deleteTodo($event)"
          (onEdit)="editTodo($event)"
          [cdkDragData]="i"
          cdkDrag>
        </app-item>

      </mat-card-content>
    </mat-card>

    <mat-card class="col-lg-4">
      <mat-card-title>COMPLETED</mat-card-title>
      <mat-card-content
        cdkDropList
        id="list-completed"
        [cdkDropListData]="completed$ | async"
        [cdkDropListConnectedTo]="['list-progress', 'list-todo']"
        (cdkDropListDropped)="drop($event)">

        <app-item
          *ngFor="let i of completed$ | async; trackBy:identify"
          [item]="i"
          (onDelete)="deleteTodo($event)"
          (onEdit)="editTodo($event)"
          [cdkDragData]="i"
          cdkDrag>
        </app-item>

      </mat-card-content>
    </mat-card>

  </div>

</div>
